.banner_service {
        position: relative;
}
.banner_service .banner::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff42;
        bottom: 0;
}
.banner_service .banner .img img {
        height: 500px;
}

.banner_service .banner .content h2 {
        font-size: 45px;
        font-weight: 800;
        color: #000;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
}
.banner_service .banner .content h4 {
        font-size: 24px;
        color: #000;
        font-weight: 400;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        margin: 70px auto;
        width: 100%;
        text-align: center;
}
@media (max-width: 991px) {
        .banner_service .banner .content h2 {
                top: 35%;
        }
        .banner_service .banner .content h4 {
                margin-top: 120px;
                top: 25%;
        }
}
@media (max-width: 575px) {
        .banner_service .banner .content h2 {
                top: 35%;
        }
        .banner_service .banner .content h4 {
                margin-top: 90px;
                top: 25%;
        }
        .banner_service .banner .img img {
                height: 250px;
        }
}
.product {
        margin-top: 50px;
}
.product .card {
        position: relative;
        border: none;
        margin-bottom: 20px;
}
.product .card .thumb {
        position: relative;
        overflow: hidden;
}
.product .card .img {
        position: relative;
}

.product .card .img::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff42;
        opacity: 0;
}
.product .card:hover .img::before {
        opacity: 1;
}
.product .card .img img {
        height: 450px;
}
.product .card .service_name h4 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 20px;
}
.product .card h6 {
        font-size: 20px;
        font-weight: 300;
        margin-top: -10px;
        margin-bottom: 20px;
}
.product .card p {
        font-size: 20px;
        font-weight: 300;

        margin-bottom: 20px;
}
.product .card h4 {
        font-size: 24px;
        font-weight: 500;

        margin-bottom: 20px;
}
.product .card .price {
        font-weight: 800;
        font-size: 26px;
        color: #000;
}

.product .card .btn {
        position: absolute;
        bottom: 0px;
        margin-bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        border: 1px solid #000;
        border-radius: 0;
        padding: 5px;
        background-color: transparent;
        font-size: 24px;
        transition: 0.5s;
        opacity: 0;
        color: #000;
        font-weight: 600;
}
.product .card .btn::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 100%;
        background-color: #000;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        color: #ffff;
        transition: 0.5s;
}
.product .card .btn:hover:after {
        width: 100%;
        opacity: 1;
        animation: run alternate 0.5s;
}
@keyframes run {
        from {
                width: 0;
        }
        to {
                width: 100%;
        }
}
.product .card:hover .btn {
        opacity: 1;
        bottom: 30px;
}

.product .card .btn:hover a {
        color: #ffff;
        z-index: 99;
        position: relative;
}
.product .filter {
        padding: 15px 0;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
        align-items: center;
}
.product .filter h4 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 0;
}

.product .filter .form-select {
        border-radius: 2px;
        outline: none;
        font-weight: 300;
        font-size: 20px;
        padding: 8px;
        margin-top: -4px;
}
.product .right {
        margin: 0 auto;
}
.product .search_service {
        padding: 1px;
        width: 100%;
        border-radius: none;
        border: 1px solid #4242423d;
        position: relative;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 20px;
}
.product .search_service input {
        border: none;
        outline: 0;
        padding: 6px;
        font-size: 20px;
}
.product .search_service .btn {
        background-color: transparent;
        color: #000;
        border: none;
        right: 2px;
        top: 8%;
        border-radius: 0;
        position: absolute;
}
.product .tags {
        margin-top: 60px;
        border-top: 1px solid #000;
        padding: 30px;
}
.product .tags h4 {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
}
.product .tags ul li {
        border: none;
        padding: 8px;
        margin-left: -3px;
        transition: 0.5s;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 300;
}
.product .tags ul li:hover {
        margin-left: 3px;
        font-weight: 600;
}
.product .tags ul li a {
        margin: 0 auto;
        color: #000;
        text-align: center;
}
.product .tags ul {
        margin-top: 20px;
        margin-bottom: 20px;
}

.product .categories {
        margin-top: 60px;
        border-top: 1px solid #000;
        padding: 30px;
}
.product .categories h4 {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
}
.product .categories ul li a {
        color: #000;
}
.product .categories ul li {
        margin-bottom: 10px;
        margin-left: 0px;
        transition: 0.5s;
        font-size: 24px;
        font-weight: 300;
}
.product .categories ul li:hover {
        margin-left: 10px;
        font-weight: 500;
}
.product .filter_bar {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        border-top: 1px solid #000;
        padding: 30px;
        align-items: center;
        margin-top: -10px;
}
.product .filter_bar h4 {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
}

.product .filter_bar .checkbox {
        font-size: 24px;

        font-weight: 500;
}
